@use '@estilos/var.scss' as var;
@use '@estilos/mix.scss' as mix;


.contenedor-pag {
  @include mix.bordes;
  display: flex;
  position: fixed;
  @include mix.altura-encabezado-bp(var.$altura-encabezado, top);
  z-index: 1;
  width: 100%;
}

.contenido-pag,
.contenido {
  @include mix.responsive-calc-height(var.$altura-encabezado);
  min-height: 0;
  width: 100%;
  max-width: 100vw;
  position: relative;
  z-index: 1;
  color: var.$blanco;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}