@use "@estilos/core.scss" as *;

%navlink {
  height: 100%;
  color: $blanco;
  font-size: $fuente-enlaces;
  font-weight: $peso-navegador;
  text-decoration: none;
  text-shadow: $sombra-gris;
  font-weight: bold;
}

a,
.menu-escritorio__link,
.menu-desplegable__link {
  @extend %navlink;

  &:hover {
    @include cursor-pua-hover;
    color: $gris;
    text-shadow: $sombra-negro;
    transition: cursor 0.3s ease;
  }

  &:active {
    @include cursor-pua-active;
    color: $negro;
    text-shadow: $sombra-blanco;
    cursor:
      url("@cursor/KobaPua_32x32_Negro.png") 16 0,
      auto;
    transition: cursor 0.3s ease;
  }

  &.menu-escritorio__link--active,
  &.menu-desplegable__link--active {
    @include cursor-pua-active;
    color: $blanco;
    text-shadow: $sombra-marron;
    transition: color 0.3s, text-shadow 0.3s, cursor 0.3s;

    &:hover {
      color: $marron;
      text-shadow: $sombra-negro;
      cursor:
        url("@cursor/KobaPua_32x32_Negro.png") 16 0,
        auto;
      transition: cursor 0.3s ease;
    }

    &:active {
      color: $granate;
      text-shadow: $sombra-blanco;
      cursor:
        url("@cursor/KobaPua_32x32_Negro.png") 16 0,
        auto;
      transition: cursor 0.3s ease;
    }
  }
}