@use '@estilos/_base.scss' as *;





.navlink {
  @include bordes;

}

a {
  color: $blanco;
  text-decoration: none;
  font-size: $fuenteEnlaces;
  font-weight: $pesoNavegador;
  text-shadow: $sombraBlanca;
  height: 100%;

  &:hover {
    color: $gris;
    text-shadow: $sombraGris;
    cursor: url('@cursor/KobaPua_32x32_Gris.png') 16 0, auto;
    transition: cursor 0.3s ease;
  }

  &:active {
    color: $negro;
    text-shadow: $sombraBlanca;
    cursor: url('@cursor/KobaPua_32x32_Negro.png') 16 0, auto;
    transition: cursor 0.3s ease;
  }

  &.navlink {
    &.active {
      color: $marron;
      text-shadow: $sombraMarron;
      cursor: url('@cursor/KobaPua_32x32_Marron.png') 16 0, auto;
      transition: cursor 0.3s ease;

      &:active {
        color: $negro;
        cursor: url('@cursor/KobaPua_32x32_Negro.png') 16 0, auto;
        transition: cursor 0.3s ease;
      }
    }
  }
}