@use "@estilos/core.scss" as *;

.navlink {
  @include bordes;
}

a {
  height: 100%;
  font-size: $fuente-enlaces;
  font-weight: $peso-navegador;
  text-decoration: none;
  text-shadow: $sombra_blanca;
  color: $blanco;

  &:hover {
    text-shadow: $sombra_gris;
    color: $gris;
    transition: cursor 0.3s ease;
    cursor:
      url("@cursor/KobaPua_32x32_Gris.png") 16 0,
      auto;
  }

  &:active {
    text-shadow: $sombra_blanca;
    color: $negro;
    transition: cursor 0.3s ease;
    cursor:
      url("@cursor/KobaPua_32x32_Negro.png") 16 0,
      auto;
  }

  &.navlink {
    &.active {
      text-shadow: $sombra_marron;
      color: $marron;
      transition: cursor 0.3s ease;
      cursor:
        url("@cursor/KobaPua_32x32_Marron.png") 16 0,
        auto;

      &:active {
        color: $negro;
        transition: cursor 0.3s ease;
        cursor:
          url("@cursor/KobaPua_32x32_Negro.png") 16 0,
          auto;
      }
    }
  }
}
