@use '@estilos/core.scss' as *;

.about-fondo,
.inicio-fondo,
.faq-fondo,
.merchan-fondo,
.contacto-fondo,
.bandas-fondo {
  @include tamanio-completo;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: $negro;

  img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    filter: $filtro_fondos;
    object-fit: cover;
    object-position: top center;
  }
}