@use "@estilos/core.scss" as *;

.about-fondo,
.inicio-fondo,
.faq-fondo,
.merchan-fondo,
.contacto-fondo,
.bandas-fondo,
.mielma-fondo {
  @include tamanio-completo;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: $negro;

  img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: top center;
  }
}

// Filtros personalizados por página (sobrescriben el global si se desea)
.about-fondo img {
  filter: brightness(20%);
}

.inicio-fondo img {
  filter: brightness(30%);
}

.faq-fondo img {
  filter: brightness(50%);
}

.merchan-fondo img {
  filter: brightness(35%);
}

.contacto-fondo img {
  filter: brightness(25%);
}

.bandas-fondo img {
  filter: brightness(25%);
}

.mielma-fondo img {
  filter: brightness(30%);
}