@use '@estilos/var.scss' as var;
@use '@estilos/_mix.scss' as mix;



/* Estilo general del scrollbar */
::-webkit-scrollbar {
  width: 10px;
  /* Ancho del scroll vertical */
  height: 10px;
  /* Altura del scroll horizontal */
}

/* Fondo del scrollbar */
::-webkit-scrollbar-track {
  background: var.$negro;
  /* Color del fondo del track */
  border-radius: 10px;
  /* Bordes redondeados */
}

/* Barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: var.$gris;
  /* Color de la barra */
  border-radius: 10px;
  /* Bordes redondeados */

  &:hover {
    background: var.$marron;
    /* Color al pasar el mouse */
    cursor: url('@cursor/KobaPua_32x32_Marron.png') 16 0, auto;
    transition: cursor 0.3s ease;
  }

  &:active {
    background: var.$negro;
    border: 1px solid var.$blanco;
    cursor: url('@cursor/KobaPua_32x32_Negro.png') 16 0, auto;
    transition: cursor 0.3s ease;
  }
}


/* Quitar las flechas predeterminadas */
::-webkit-scrollbar-button {
  display: none;
  /* Oculta las flechas predeterminadas */
}

/* Personalizar la flecha hacia arriba */
::-webkit-scrollbar-button:single-button:decrement {
  display: block;
  /* Muestra solo la flecha personalizada */
  background: url('@cursor/KobaPua_32x32_Gris.png') no-repeat center center;
  background-size: contain;
  height: 20px;
  /* Ajusta el tamaño según tu imagen */
  width: 20px;

  &:hover {
    background: url('@cursor/KobaPua_32x32_Marron.png') no-repeat center center;
    background-size: contain;
    cursor: url('@cursor/KobaPua_32x32_Marron.png') 16 0, auto;
    transition: cursor 0.3s ease;
  }

  &:active {
    background: url('@cursor/KobaPua_32x32_Negro.png') no-repeat center center;
    background-size: contain;
    cursor: url('@cursor/KobaPua_32x32_Negro.png') 16 0, auto;
    transition: cursor 0.3s ease;
  }
}

/* Personalizar la flecha hacia abajo */
::-webkit-scrollbar-button:single-button:increment {
  display: block;
  /* Muestra solo la flecha personalizada */
  background: url('@cursor/KobaPua_32x32_GrisAbajo.png') no-repeat center center;
  background-size: contain;
  height: 20px;
  /* Ajusta el tamaño según tu imagen */
  width: 20px;

  &:hover {
    background: url('@cursor/KobaPua_32x32_MarronAbajo.png') no-repeat center center;
    background-size: contain;
    cursor: url('@cursor/KobaPua_32x32_Marron.png') 16 0, auto;
    transition: cursor 0.3s ease;
  }

  &:active {
    background: url('@cursor/KobaPua_32x32_NegroAbajo.png') no-repeat center center;
    background-size: contain;
    cursor: url('@cursor/KobaPua_32x32_Negro.png') 16 0, auto;
    transition: cursor 0.3s ease;
  }
}