@use '../../estilos/_variables.scss' as var;
@use '../../estilos/_mixins.scss' as mix;

.faq-contenedor {
  //@include mix.bordes;
  @include mix.margen0;
  height: calc(100vh - var.$alturaEncabezado);
  width: 100vw;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  

}

.faq-pregunta {
  //@include mix.bordes;
  @include mix.padgap;
  box-sizing: border-box;
  margin: 0 10%;
  color: var.$gris;
  font-size: var.$fuenteBase * 3;
  display: flex;
  justify-content: space-between;
  text-align: justify;}

.faq-pregunta-texto {
  //@include mix.bordes;
  box-sizing: border-box;
  flex-grow: 1;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
}

.faq-icon {
  margin-left: 10px;
  cursor: pointer;
}

.faq-respuesta {
  //@include mix.bordes;
  @include mix.padgap;
  box-sizing: border-box;
  margin: 0 10%;
  color: var.$blanco;
    font-size: var.$fuenteBase * 2;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: justify;
}