// Colores base proyecto
$granate: #7a2e2e; // error
$verde: #25613a; // Exito
$blanco: #f0f8ff;//  Fuente base
$gris: #9ca6b1; // Al hacer hover
$marron: #c49c74; // activos y destacados
$negro: #292421;

// Solo bordes
$amarillo: #eed755;