// =========================
// DECLARACIÓN DE pesoS BASE
// =========================
//$pesoBase: 400; // escritorio
$pesoBase: 400;
//$pesoH1: 700;
$pesoH1: 600; // móvil
//$pesoH2: 600;
$pesoH2: 500; // móvil
//$pesoH3: 500;
$pesoH3: 400; // móvil
$pesoParrafo: 400;
$pesoH4: 400;
$pesoH5: 400; // Corregido, antes estaba en rem
$pesoH6: 400; // Corregido, antes estaba en rem

// =========================
// pesoS ESPECÍFICAS
// =========================
$pesoAboutTexto: $pesoParrafo;
$pesoAboutTitulo: $pesoH1;
$pesoAboutSubtitulo: $pesoH2;
$pesoAboutSeccion: $pesoH3;
$pesoGrupoAlbum: $pesoH1;
$pesoGrupoIntegrante: $pesoH1;
$pesoBandasClick: $pesoH2;
$pesoBandasNombre: $pesoH1;
$pesoContactoIconos: $pesoH1;
$pesoEnlaces: $pesoParrafo;
$pesoEslogan: $pesoH1;
$pesoNavegador: $pesoParrafo;
$pesoFaqPreguntas: $pesoH2;
$pesoFaqRespuestas: $pesoParrafo;
$pesoFecha: $pesoH2;
$pesoGruposEstiloAño: $pesoH2;
$pesoGruposResumen: $pesoH3;