// =========================
// DECLARACIÓN DE pesoS BASE
// =========================
$peso-base: 400;
$peso-h1: 600;
$peso-h2: 500;
$peso-h3: 400;
$peso-parrafo: 400;
$peso-h4: 400;
$peso-h5: 400;
$peso-h6: 400;

// =========================
// pesos específicas
// =========================
$peso-about-texto: $peso-parrafo;
$peso-about-titulo: $peso-h1;
$peso-about-subtitulo: $peso-h2;
$peso-about-seccion: $peso-h3;
$peso-grupo-album: $peso-h1;
$peso-grupo-integrante: $peso-h1;
$peso-bandas-click: $peso-h2;
$peso-bandas-nombre: $peso-h1;
$peso-contacto-iconos: $peso-h1;
$peso-enlaces: $peso-parrafo;
$peso-eslogan: $peso-h1;
$peso-navegador: $peso-parrafo;
$peso-faq-preguntas: $peso-h2;
$peso-faq-respuestas: $peso-parrafo;
$peso-fecha: $peso-h2;
$peso-grupos-estilo-anio: $peso-h2;
$peso-grupos-resumen: $peso-h3;
