// =========================
// DECLARACIÓN DE FUENTES BASE
// =========================
//$fuenteBase: 1rem; // 16px escritorio
$fuenteBase: 0.95rem; // móvil
//$fuenteH1: 2rem;
$fuenteH1: 1.5rem;
//$fuenteH2: 1.5rem;
$fuenteH2: 1.2rem;
//$fuenteH3: 1.17rem;
$fuenteH3: 1rem;
//$fuenteParrafo: 1rem;
$fuenteParrafo: 0.95rem;
//$fuenteH4: 1rem;
$fuenteH4: 0.95rem;
//$fuenteH5: 0.83rem;
$fuenteH5: 0.8rem;
//$fuenteH6: 0.67rem;
$fuenteH6: 0.7rem;

// =========================
// CLAMP TIPOGRÁFICO PARA HEADINGS Y PÁRRAFO
// =========================
//$clampBase: clamp(1rem, 1.2vw, 1.1rem);
$clampBase: clamp(0.95rem, 2vw, 1.05rem);
//$clampH1: clamp($fuenteH1, 8vw, 3.5rem);
$clampH1: clamp($fuenteH1, 6vw, 2.2rem);
//$clampH2: clamp($fuenteH2, 6vw, 2.5rem);
$clampH2: clamp($fuenteH2, 4vw, 1.7rem);
//$clampH3: clamp($fuenteH3, 4vw, 1.8rem);
$clampH3: clamp($fuenteH3, 3vw, 1.3rem);
//$clampParrafo: clamp($fuenteParrafo, 2.5vw, 1.1rem);
$clampParrafo: clamp($fuenteParrafo, 2vw, 1.05rem);
//$clampH4: clamp($fuenteH4, 3vw, 1.4rem);
$clampH4: clamp($fuenteH4, 2vw, 1.1rem);
//$clampH5: clamp($fuenteH5, 2vw, 1.1rem);
$clampH5: clamp($fuenteH5, 1.5vw, 0.95rem);
//$clampH6: clamp($fuenteH6, 1vw, 0.95rem);
$clampH6: clamp($fuenteH6, 1vw, 0.8rem);

// =========================
// FUENTES ESPECÍFICAS POR PÁGINA/SECCIÓN
// =========================

// About
$fuenteAboutTitulo: $clampH1;
$fuenteAboutSubtitulo: $clampH2;
$fuenteAboutSeccion: $clampH3;
$fuenteAboutTexto: $fuenteParrafo;

// Bandas
$fuenteBandasNombre: $clampH1;
$fuenteBandasClick: $clampH2;

//Grupos
$fuenteGruposEstiloAño: $clampH2;
$fuenteGruposResumen: $clampH3;

// Contacto
$fuenteContactoIconos: $fuenteH1;

// Enlaces generales
$fuenteEnlaces: $fuenteParrafo;

// Eslogan
$fuenteEslogan: $clampH2;

// FAQ
$fuenteFaqPreguntas: $clampH3;
$fuenteFaqRespuestas: $fuenteParrafo;

// Fecha
$fuenteFecha: $clampH2;