@use "@estilos/var/fuentes-generico.scss" as *;
@use "@estilos/var/colores.scss" as *;

// =====================
// BANNER KOBA
// =====================
$banner-koba-iv-color-borde-fondo: $blanco;

@mixin banner-koba-iv-fuente {
  color:$plata-acero;
  font-family: $font-family-metalmania;
  font-size: $clamp-p;
  font-weight: $font-weight-p;
  letter-spacing: 0.04em;
}

// =====================
// ENLACES
// =====================
$font-size-enlaces: $clamp-h4;

@mixin enlaces-generales {
  font-family: $font-family-cinzel;
  font-size: $font-size-enlaces;
}

@mixin enlaces-fuente {
  font-family: $font-family-cinzel;
  color: $blanco;
  font-size: $clamp-h4;;
  font-weight: $font-weight-p;
}

// =====================
// ESLOGAN
// =====================
$font-size-eslogan: (
  xs: 1rem,
  s: 1.2rem,
  m: 1.3rem,
  tablet: 1.9rem,
  laptop: 2rem,
  pc: 2.5rem,
  full: 2.5rem
);

@mixin eslogan-fuente {
  color: $marron;
  font-family: $font-family-cinzel;
}

// =====================
// BANDAS
// =====================
$fuente-bandas-click: $clamp-h3;
$fuente-bandas-nombre: $clamp-h1;
$font-weight-bandas-click: $font-weight-h2;
$font-weight-bandas-nombre: $font-weight-h1;

// =====================
// CONTACTO
// =====================
$font-size-contacto-iconos: $fuente-h1;
$fuente-contacto-texto: $fuente-p;
$fuente-contacto-titulo: $clamp-h3;
$font-weight-contacto-iconos: $font-weight-h1;

@mixin contacto-fuente {
  color: $blanco;
  font-family: $font-family-oswald;
  letter-spacing: 0.03em;
}

@mixin formulario-fuente {
  color: $blanco;
  font-family: $font-family-oswald;
  letter-spacing: 0.03em;
}

// =====================
// FAQ
// =====================

@mixin faq-pregunta-fuente {
  color: $blanco;
  font-family: $font-family-metalmania;
  font-size: $clamp-h3;
}

@mixin faq-icon-fuente {
  color: $gris;
  font-size: 1.2em;
}

@mixin faq-icon-hover-fuente {
  color: $gris;
  font-size: 1.4em;
}

@mixin faq-respuesta-fuente {
  color: $blanco;
  font-family: Oswald, Arial, sans-serif;
  font-size: $clamp-p;
}

// =====================
// FECHA Y GRUPOS
// =====================
$fuente-fecha: $clamp-h3;
$font-weight-fecha: $font-weight-h2;
$font-size-grupos-estilo-anio: $clamp-h4;
$font-size-grupos-genero: $clamp-h3;
$font-size-grupos-resumen: $clamp-p;
$font-weight-grupos-estilo-anio: $font-weight-h2;
$font-weight-grupos-resumen: $font-weight-h3;
$font-weight-grupo-album: $font-weight-h1;
$font-weight-grupo-integrante: $font-weight-h1;

@mixin fecha-fuente {
  color: $gris-plomo;
  font-family: $font-family-metalmania;
  font-size: $fuente-fecha;
  letter-spacing: 0.04em;
}

// =====================
// ABOUT
// =====================
@mixin about-seccion-fuente {
  color: $marron;
  font-size: $clamp-h3;
  font-weight: $font-weight-h3;
}

@mixin about-titulo-fuente {
  color: $negro;
  font-size: $clamp-h1;
  font-weight: $font-weight-h1;
  text-shadow:
    3px 3px 5px $blanco,
    -3px -3px 5px $blanco;
}

@mixin about-subtitulo-fuente {
  color: $marron;
  font-size: $clamp-h2;
  font-weight: $font-weight-h2;
}

@mixin about-texto-fuente {
  font-size: $clamp-p;
  font-weight: $font-weight-p;
}

// =====================
// GENERALES
// =====================
$fuente-menu-pua: $clamp-h3;
$font-weight-navegador: $font-weight-p;

@mixin base-fuente {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: $fuente-p;
  line-height: $line-height-p;
}

$font-size-entradas: (
  xs: 1rem,
  s: 1.2rem,
  m: 1.3rem,
  tablet: 1.9rem,
  laptop: 2rem,
  pc: 2.5rem,
  full: 2.5rem
);

@mixin hamburguesa-fuente {
  color: $blanco;
  font-family: $font-family-cinzel;
  font-size: $fuente-menu-pua;
}
