// Convención de nombres para variables:
// - Para fuentes específicas de sección: $fuente-[seccion]-[elemento]  (ejemplo: $fuente-about-titulo)
// - Para banners: $banner-[propiedad]-[contexto]  (ejemplo: $banner-color-koba-iv)

@use "@estilos/var/fuentes-generico.scss" as *;
@use "@estilos/var/colores.scss" as *;


// Variables para el Banner Koba IV
$banner-color-koba-iv: $blanco;
$banner-texto-color-koba-iv: $plata-acero;
$banner-font-koba-iv: $font-family-metalmania;
$banner-font-size-koba-iv: $clamp-parrafo;
$banner-font-weight-koba-iv: $peso-parrafo;


// FUENTES ESPECÍFICAS POR PÁGINA/SECCIÓN

// About
$font-size-about-titulo: $clamp-h1;
$font-size-about-subtitulo: $clamp-h2;
$font-size-about-seccion: $clamp-h3;
$font-size-about-texto: $clamp-parrafo;
$color-about-titulo: $negro;
$color-about-subtitulo: $marron;
$color-about-seccion: $marron;
$text-shadow-about-titulo: 3px 3px 5px $blanco, -3px -3px 5px $blanco;

// Bandas
$fuente-bandas-nombre: $clamp-h1;
$fuente-bandas-click: $clamp-h3;

// Grupos
$font-size-grupos-estilo-anio: $clamp-h4;
$font-size-grupos-resumen: $clamp-parrafo;
$font-size-grupos-genero: $clamp-h3;

// Contacto
$fuente-contacto-iconos: $fuente-h1;
$fuente-contacto-titulo: $clamp-h3;
$fuente-contacto-texto: $fuente-parrafo;

// Enlaces generales
$fuente-enlaces: $clamp-h5;

// Eslogan
$color-eslogan: $marron;
$font-size-eslogan: $clamp-h3;
$font-size-eslogan-xs: $clamp-h6;
$font-family-eslogan: $font-family-cinzel;

// FAQ
$fuente-faq-preguntas: $clamp-h3;
$fuente-faq-respuestas: $clamp-parrafo;

// Fecha
$fuente-fecha: $clamp-h3;

// Fuente MenuPua
$fuente-menu-pua: $clamp-h3;

// Pesos específicos para About
$peso-about-texto: $peso-parrafo;
$peso-about-titulo: $peso-h1;
$peso-about-subtitulo: $peso-h2;
$peso-about-seccion: $peso-h3;

// Pesos específicos para otras secciones
$peso-grupo-album: $peso-h1;
$peso-grupo-integrante: $peso-h1;
$peso-bandas-click: $peso-h2;
$peso-bandas-nombre: $peso-h1;
$peso-contacto-iconos: $peso-h1;
$peso-enlaces: $peso-parrafo;
$peso-eslogan: $peso-h1;
$peso-navegador: $peso-parrafo;
$peso-faq-preguntas: $peso-h2;
$peso-faq-respuestas: $peso-parrafo;
$peso-fecha: $peso-h2;
$peso-grupos-estilo-anio: $peso-h2;
$peso-grupos-resumen: $peso-h3;