// Para compatibilidad futura con Sass: usar map.get en vez de map-get
@use "sass:map";

// as * para no tener que usar prefijos
@use "@estilos/var/colores.scss" as *;
@use "@estilos/var/margenes.scss" as *;

// Bordes
$border-radius: 20px;

// Encabezado mapa
$altura-encabezado: (
  xs: 64px,
  s: 72px,
  m: 80px,
  tablet: 88px,
  laptop: 104px,
  pc: 120px,
  full: 132px
);

// Sombras para elementos
$sombra-blanco: 2px 1px 3px $blanco;
$sombra-gris: 2px 1px 3px $gris;
$sombra-marron: 2px 1px 3px $marron;
$sombra-negro: 2px 1px 3px $negro;

// Sombras para imágenes
$sombra-imagen-blanco: drop-shadow(0 0 6px $blanco);

// Filtros
$filtro-fondos: brightness(25%); // filter

// Mapa global de alturas para la barra de redes sociales
$alturas-redes-sociales: (
  xs: 3rem,
  s: 3rem,
  m: 3.2rem,
  md: 3.2rem,
  lg: 3.5rem,
  tablet: 3rem,
  laptop: 3.5rem,
  pc: 3.5rem,
  full: 3.5rem
);

// Breakpoints globales
$bp-xs: 320px; // Extra pequeño (móviles muy pequeños, ej: iPhone SE)
$bp-s: 375px; // Pequeño (móviles modernos, ej: iPhone X/12/13, Pixel 5)
$bp-m: 425px; // Mediano (móviles grandes, ej: Galaxy S20)
$bp-tablet: 768px; // Tablet (ej: iPad vertical)
$bp-laptop: 1024px; // Portátil (ej: iPad Air horizontal, laptops pequeños)
$bp-pc: 1440px; // Escritorio (laptops grandes, monitores estándar)
$bp-full: 2560px; // Ultra grande (pantallas full, ej: 2560px)

$breakpoints: (
  xs: $bp-xs,
  s: $bp-s,
  m: $bp-m,
  tablet: $bp-tablet,
  laptop: $bp-laptop,
  pc: $bp-pc,
  full: $bp-full
);

