@use '@estilos/var/_colores.scss' as *;

// Bordes
$border-radius: 20px;

// Encabezado mapa
$altura-encabezado: (
  xs: 90px,
  s: 100px,
  m: 120px,
  tablet: 120px,
  laptop: 120px,
  pc: 120px,
  full: 120px,
);

// Margen
$margen-completo: 12px;
$margen-laterales: 0 $margen-completo;

// Altura y Ancho
// $altura-contenido: calc(100vh - $altura-encabezado); // Eliminado porque no se puede usar un mapa en un cálculo directo
$ancho-parrafo: calc(100vw - $margen-completo);

// Sombras
$sombra-blanca: 2px 1px 3px $blanco;
$sombra-gris: 2px 1px 3px $gris;
$sombra-marron: 2px 1px 3px $marron;
$sombra-negra: 2px 1px 3px $negro;
$drop-shadow-blanco: drop-shadow(0 0 6px $blanco);

// Filtros
$filtro-fondos: brightness(25%); // filter