// Para compatibilidad futura con Sass: usar map.get en vez de map-get
@use 'sass:map';
@use '@estilos/var/_colores.scss' as *;

// Bordes
$border-radius: 20px;

// Encabezado mapa
$altura-encabezado: (
  xs: 64px,
  s: 72px,
  m: 80px,
  tablet: 88px,
  laptop: 104px,
  pc: 120px,
  full: 132px
);

// Margen bp
$margen-completo: (
  xs: 8px,
  md: 12px,
  lg: 16px,
  tablet: 16px,
  laptop: 20px,
  pc: 24px,
  full: 32px
);

// Margen lateral (puedes adaptarlo si lo necesitas bp también)
$margen-laterales: 0 map.get($margen-completo, md);

// Sombras
$sombra-blanca: 2px 1px 3px $blanco;
$sombra-gris: 2px 1px 3px $gris;
$sombra-marron: 2px 1px 3px $marron;
$sombra-negra: 2px 1px 3px $negro;
$drop-shadow-blanco: drop-shadow(0 0 6px $blanco);

// Filtros
$filtro-fondos: brightness(25%); // filter


$pad-gap: (
  xs: (gap: 0.5rem, padding: 0.5rem),
  md: (gap: 1rem, padding: 1.5rem),
  lg: (gap: 2rem, padding: 2.5rem),
  tablet: (gap: 2rem, padding: 2.5rem),
  laptop: (gap: 2rem, padding: 2.5rem),
  pc: (gap: 2rem, padding: 2.5rem),
  full: (gap: 2rem, padding: 2.5rem)
);