// Animaciones acordeón estándar: cerrado (0deg, arriba), abierto (180deg, abajo)
@keyframes pua-gira {
  0% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(540deg); // 1 vuelta y media (360 + 180)
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes pua-gira-reversa {
  0% {
    transform: rotate(180deg);
  }

  80% {
    transform: rotate(-180deg); // 1 vuelta y media en sentido inverso
  }

  100% {
    transform: rotate(0deg);
  }
}

@mixin pua-giratoria($reverse: false, $duration: 0.5s, $timing: cubic-bezier(0.4, 0, 0.2, 1)) {
  animation: if($reverse, pua-gira-reversa, pua-gira) $duration $timing;
}

.pua-girando {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  pointer-events: none;
  user-select: none;

  img {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
    transition: filter 0.2s;
  }

  // Estados
  &--abierta img,
  &--cerrando img {
    transform: rotate(180deg);
  }

  &--abierta img {
    @include pua-giratoria(false);
  }

  &--cerrando img {
    @include pua-giratoria(true);
  }

  &--cerrada img {
    transform: rotate(0deg);
  }
}