@use "@estilos/core.scss" as *;



.mielmadev {
  gap: $gap;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  // Quitado para que el margin-top del título funcione
  max-height: 100vh;
  overflow-y: auto;

  &-titulo {
    font-family: 'Metal Mania', $font-family-cinzel, serif;
    font-size: $clamp-h1;
    font-weight: 700;
    color: $morado-oscuro;
    letter-spacing: 0.08rem;
    text-align: center;
    text-shadow:
      0 4px 32px $blanco-humo,
      0 2px 12px $blanco-humo,
      0 0 2px $blanco-humo,
      0 0 1px $blanco-humo,
      0 1px 0 #0008;
    z-index: 2;
    display: block;
    margin-top: 6vh; // Más separación visual, usa vh para mejor respuesta
    @include margen-laterales-bp($margen-laterales);
  }

  &-textos {
    @include pad-gap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
    box-shadow: 0 2px 16px 0 rgba($negro, 0.18);
    @include margen-laterales-bp($margen-laterales);

    .mielmadev-descripcion {
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      font-size: $clamp-h4;
      color: $blanco-humo;
      letter-spacing: 0.01rem;
      font-weight: 400;
      text-align: center;
      text-shadow: 0 2px 8px #000, 0 0 2px #fff8;

      .mielmadev-servicio {
        font-size: $clamp-h3;
        font-family: $font-family-cinzel, 'Montserrat', Arial, Helvetica, sans-serif;
        color: $plata-acero;
        font-weight: 700;
        letter-spacing: 0.03rem;
        text-shadow: 0 2px 12px #000, 0 0 2px #fff8;
      }
    }

    .mielmadev-eslogan {
      font-family: $font-family-cinzel;
      font-size: $clamp-h4;
      color: $gris;
      font-weight: 600;
      letter-spacing: 0.01rem;
      text-align: center;
      text-shadow: 0 2px 8px #000, 0 0 2px #fff8;
    }
  }

  &-formulario {
    padding: $padding;
  }
}