@use '@estilos/_variables.scss' as var;
@use '@estilos/_mixins.scss' as mix;

.grupo-contenido {
  //@include mix.bordes;
  @include mix.margen0;
  margin: var.$margenParrafo;
  height: var.$alturaContenido;
  width: var.$anchoParrafo;
  display: flex;
  flex-direction: column;

  .grupo-encabezado {
    //@include mix.bordes;
    @include mix.margen0;
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100%;

    .grupo-encabezado-izquierda {
      //@include mix.bordes;
      @include mix.margen0;
      display: flex;
      flex-direction: column;
      width: 35%;
      justify-content: space-between;


      .grupo-logo {
        //@include mix.bordes;
        @include mix.margen0;
        @include mix.padgap;
        width: 100%;
      }

      .grupo-estilo-año {
        //@include mix.bordes;
        @include mix.margen0;
        @include mix.padgap;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

      .grupo-origen {
        //@include mix.bordes;
        @include mix.margen0;
        @include mix.padgap;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        >* {
          flex-wrap: nowrap;
        }
      }

      .grupo-integrantes {
        @include mix.margen0;
        @include mix.padgap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

  }

  .grupo-pie {
    @include mix.bordes;
    @include mix.margen0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-top: auto;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}