@use '@estilos/var/_var.scss' as *;
// Mixin para aplicar bordes con color y radio definidos en variables
@mixin bordes {
  border: $amarillo 1px solid;
  border-radius: $borderRadius;
}

// Mixin para tamaño completo
@mixin tamañoCompleto {
  width: 100%;
  height: 100%;
}

// Mixin para padding y gap estándar
@mixin padgap {
  padding: 1rem;
  gap: 1.5rem;
}