@use '@estilos/_bp.scss' as bp;
@use '@estilos/var.scss' as var;

// Mixin para aplicar bordes con color y radio definidos en variables
@mixin bordes {
  border: var.$amarillo 1px solid;
  border-radius: var.$border-radius;
}

// Mixin para tama침o completo
@mixin tama침o-completo {
  width: 100%;
  height: 100%;
}

// Mixin para padding y gap est치ndar
@mixin pad-gap {
  padding: 0.5rem;
  gap: 1rem;
}

@mixin tama침o-banda-imagen {
  width: clamp(60px, 80vw, 120px);
  height: clamp(30px, 40vw, 80px);
}

