@use '@estilos/_variables.scss' as var;
@use '@estilos/_mixins.scss' as mix;

.encabezado-contenedor {
  @include mix.bordes;
  @include mix.margen0;
  height: var.$alturaEncabezado;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo-encabezado {
  @include mix.bordes;
  @include mix.padgap;
  @include mix.margen0;
  height: var.$alturaEncabezado;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.logo-encabezado img {
  @include mix.bordes;
  @include mix.margen0;
  @include mix.tama単oCompleto;
}

.encabezado-derecha {
  @include mix.bordes;
  @include mix.margen0;
  @include mix.tama単oCompleto;
  height: var.$alturaEncabezado;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > * {
    @include mix.bordes;
    @include mix.margen0;
  }

  .encabezado-navegador {
    @include mix.bordes;
    @include mix.margen0;
    @include mix.tama単oCompleto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .encabezado-eslogan {
    @include mix.bordes;
    @include mix.margen0;
    @include mix.tama単oCompleto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}