@use '@estilos/_base.scss' as *;

.encabezado-contenedor {
  @include bordes;
  height: $alturaEncabezado;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;

  .logo-encabezado {
    @include bordes;
    @include padgap;
    display: flex;
    height: $alturaEncabezado;
    width: auto;
    justify-content: center;
    flex-shrink: 0;

    .logo-encabezado img {
      @include bordes;
      @include tamañoCompleto;
    }
  }

  .encabezado-derecha {
    @include bordes;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    .encabezado-navegador {
      @include bordes;
      @include tamañoCompleto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
    }

    .encabezado-eslogan {
      @include bordes;
      @include tamañoCompleto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 1;
    }
  }
}