@use "@estilos/core.scss" as *;

.encabezado-contenedor {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;

  @include bordes;
  @include altura-encabezado-bp($altura-encabezado);

  .logo-encabezado {
    @include bordes;
    @include pad-gap;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: auto;
    height: 100%;

    .logo-encabezado img {
      @include bordes;
      @include tamanio-completo;
    }
  }

  .encabezado-derecha {
    @include bordes;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .encabezado-navegador {
      @include bordes;
      width: 100%;
      height: 50% ;
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;
    }

    .encabezado-eslogan {
      @include bordes;
      height: 50%;
      width: 100%;
      display: flex;
      flex: 1;
      justify-content: flex-start;
      align-items: center;
    }
  }
}