@use "@estilos/core.scss" as *;

.eslogan-contenedor {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  .eslogan {
    @include eslogan-fuente;
    line-height: 1.1;
    align-self: center;
    flex-shrink: 1;
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
    width: 100%;
    @include prop-bp($font-size-eslogan, font-size);
  }

  .entradas {
    display: flex;
    justify-content: end;
    overflow: visible;
    width: auto;
    height: 100%;
  }
}