@use '@estilos/_core.scss' as *;

.eslogan-contenedor {
  @include bordes;
  @include tamaño-completo;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $fuente-eslogan;
  color: $marron;
}