@use "sass:map";
@use "@estilos/core.scss" as *;

.hamburguesa {
  z-index: 1100;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;

  .linea {
    width: 28px;
    height: 4px;
    margin: 4px 0;
    background: $blanco;
    border-radius: 2px;
    transition: all 0.3s;
  }
}

.hamburguesa.abierto {
  .linea1 {
    background: $gris;
    transform: translateY(8px) rotate(45deg);
  }

  .linea2 {
    opacity: 0;
  }

  .linea3 {
    background: $gris;
    transform: translateY(-8px) rotate(-45deg);
  }
}

@include bp-max(m) {
  .hamburguesa {
    display: flex;
  }
}
