@use "sass:map";
@use "@estilos/core.scss" as *;

.hamburguesa {
  position: relative;
  z-index: 1300; // Más al frente que el menu desplegable
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 60%;
  border: 2px solid $marron;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba($marron, 0.2);
  padding: 4px;
  background: none;
  cursor: pointer;

  .hamburguesa-texto {
    @include hamburguesa-fuente;
    position: absolute;
    top: 50%;
    right: 100%;
    left: auto;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 30px;
    opacity: 1;
    transition:
      color 0.3s,
      text-shadow 0.3s;
    transform: translateY(-50%);
  }

  &:hover {
    cursor:
      url("/src/assets/imagenes/cursor/KobaPua_32x32_Gris.png") 16 0,
      pointer;

    .hamburguesa-texto {
      color: $gris;
      text-shadow: $sombra_gris;
    }
  }

  &.abierto,
  &.cerrando {
    .hamburguesa-texto {
      opacity: 0;
    }
  }
}

// Estados globales relacionados con la hamburguesa
.navegador-contenedor {

  &.encabezado--menu-abierto .hamburguesa-texto,
  &.encabezado--menu-cerrando .hamburguesa-texto,
  .hamburguesa.abierto .hamburguesa-texto,
  .hamburguesa.cerrando .hamburguesa-texto {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &:not(.encabezado--menu-abierto, .encabezado--menu-cerrando) .hamburguesa:not(.abierto, .cerrando) .hamburguesa-texto {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

@include bp-max(m) {
  .hamburguesa {
    display: flex;
  }
}