@use "@estilos/core.scss" as *;

.hamburguesa {
  display: none;

  @include bp-max(tablet) {
    display: flex;
  }

  @include bp(tablet) {
    display: none;
  }
}

.menu-escritorio {
  // include bordes;
  @include pad-gap;

  display: flex;
  justify-content: flex-start;
  width: auto;
  margin-right: auto;
  padding-left: 2.5rem;

  @include bp-max(tablet) {
    display: none;
  }

  @include bp(tablet) {
    display: flex;
  }
}

.navegador-contenedor.abierto {
  display: flex;
}
