@use '@estilos/_variables.scss' as var;
@use '@estilos/_mixins.scss' as mix;

.navegador-contenedor {
  @include mix.bordes;

  @include mix.padgap;
  @include mix.tamañoCompleto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
}