/* 
| h1 | 2em | bold | 0.67em | 0.67em | block |
| h2 | 1.5em | bold | 0.83em | 0.83em | block |
| h3 | 1.17em | bold | 1em | 1em | block | 
| h4 | 1em | bold | 1.33em | 1.33em | block | 
| h5 | 0.83em | bold | 1.67em | 1.67em | block | 
| h6 | 0.67em | bold | 2.33em | 2.33em | block | */

// =========================
// DECLARACIÓN DE FUENTES BASE
// =========================
$fuenteBase: 1rem; // 16px
$fuenteH1: 2rem;
$fuenteH2: 1.5rem;
$fuenteH3: 1.17rem;
$fuenteParrafo: 1rem;
$fuenteH4: 1rem;
$fuenteH5: 0.83rem;
$fuenteH6: 0.67rem;

// =========================
// CLAMP TIPOGRÁFICO PARA HEADINGS Y PÁRRAFO
// =========================
$clampBase: clamp(1rem, 1.2vw, 1.1rem);
$clampH1: clamp($fuenteH1, 8vw, 3.5rem);
$clampH2: clamp($fuenteH2, 6vw, 2.5rem);
$clampH3: clamp($fuenteH3, 4vw, 1.8rem);
$clampParrafo: clamp($fuenteParrafo, 2.5vw, 1.1rem);
$clampH4: clamp($fuenteH4, 3vw, 1.4rem);
$clampH5: clamp($fuenteH5, 2vw, 1.1rem);
$clampH6: clamp($fuenteH6, 1vw, 0.95rem);

// =========================
// FUENTES ESPECÍFICAS POR PÁGINA/SECCIÓN
// =========================

// About
$fuenteAboutTitulo: $clampH1;
$fuenteAboutSubtitulo: $clampH2;
$fuenteAboutSeccion: $clampH3;
$fuenteAboutTexto: $fuenteParrafo;

// Bandas
$fuenteBandasNombre: $clampH1;
$fuenteBandasClick: $clampH2;

//Grupos
$fuenteGruposEstiloAño: $clampH2;
$fuenteGruposResumen: $clampH3;

// Contacto
$fuenteContactoIconos: $fuenteH1;

// Enlaces generales
$fuenteEnlaces: $fuenteParrafo;

// Eslogan
$fuenteEslogan: $clampH2;

// FAQ
$fuenteFaqPreguntas: $clampH3;
$fuenteFaqRespuestas: $fuenteParrafo;

// Fecha
$fuenteFecha: $clampH2;