@use '@estilos/var/_var.scss' as *;
@use '@estilos/_bp.scss' as *;

// Mixin para aplicar bordes con color y radio definidos en variables
@mixin bordes {
  border: $amarillo 1px solid;
  border-radius: $border_radius;
}

// Mixin para tamaño completo
@mixin tamaño-completo {
  width: 100%;
  height: 100%;
}

// Mixin para padding y gap estándar
@mixin pad-gap {
  padding: 0.5rem;
  gap: 1rem;
}

@mixin tamaño-banda-imagen {
  width: clamp(100px, 100%, 350px);
  height: clamp(100px, 100%, 250px);
}