@use './_variables' as var;
@use '@estilos/_font-size.scss' as fs;


@mixin bordes {
  border: var.$amarillo 1px solid;
  borderRadius: var.$borderRadius;
}

@mixin tamañoCompleto {
  width: 100%;
  height: 100%;
}

@mixin padgap {
  padding: 1rem;
  gap: 1.5rem;
}

@mixin fuenteH1 {
  font-size: clamp(2rem, 4vw, fs.$fuenteH1); // Ajuste dinámico según el tamaño de la ventana
  font-weight: 900;
}

@mixin fuenteH2 {
  font-size: clamp(1.5rem, 3vw, fs.$fuenteH2); // Ajuste dinámico según el tamaño de la ventana
  font-weight: 800;
}

@mixin fuenteH3 {
  font-size: clamp(1.25rem, 2.5vw, fs.$fuenteH3); // Ajuste dinámico según el tamaño de la ventana
  font-weight: 700;
}