

// Base tipográfica

// Colores
$amarillo: #eed755;
$blanco: aliceblue; // #F0F8FF
$gris: #9ca6b1;
$marron: #c49c74;
$negro: #292421;


// Fuente peso
$pesoNavegador: 600;
$superNegrita: 900;

// Bordes
$borderRadius: 25px;

// Encabezado
$alturaEncabezado: 150px;

// Margen
$margenTexto: 10%;
$margenParrafo: 0 $margenTexto;

// Altura y Ancho
$alturaContenido: calc(100vh - $alturaEncabezado);
$anchoParrafo: calc(100vw - $margenTexto * 2);

// Sombras
$sombraBlanca: 2px 1px 3px $blanco;
$sombraGris: 2px 1px 3px $gris;
$sombraMarron: 2px 1px 3px $marron;
$sombraNegra: 2px 1px 3px $negro;

// Filtros
$filtroFondos: brightness(25%); // filter