// Triadic Color
$celeste: #55eed7;
$azul: #556cee;
$rojo: #9ca6b1;
$granate: #800000;
$amarillo: #eed755;
$morado: #d755ee;
//kobalive
$blanco: aliceblue;
$negro: #292421;
$marron: #c49c74;
$gris: #9ca6b1;
$blanco: #e3e4e5;
//Tamaño letra
$letra: clamp(1.5rem, 2vw, 3rem);
$tamaño-fuente-base: 62.5%;
$tamaño-fuente-nav: 3rem;
//Bordes
$border-radius: 25px;
// Sombras
$sombra-negra: $negro 3px 3px 1px;
$sombra-blanca: $blanco 3px 3px 1px;

$sombra-texto-hover: 5px 5px 2px;
// Transiciones
$transicion-predeterminada: all 0.3s ease;
// Variables de fondo

