// Triadic Color
$celeste: #55eed7;
$azul: #556cee;
$rojo: #ee556c;
$granate: #800000;
$amarillo: #eed755;
$morado: #d755ee;
//kobalive
$blanco: aliceblue; // #F0F8FF
$negro: #292421;
$marron: #c49c74;
$gris: #9ca6b1;
//Tamaño letra
$fuenteBase: 62.5%;
$fuentePreguntas: $fuenteBase * 3;
$fuenteRespuestas: $fuenteBase * 2;
$fuenteNavegador: $fuenteBase * 1.5;
$fuenteBasePeso: 100;
$fuenteNavegadorPeso: $fuenteBasePeso * 2;
//Bordes
$borderRadius: 25px;
// Encabezado
$alturaEncabezado: 100px;
// Sombras
$sombra: 2px 2px 5px $negro;