@use "sass:map";
@use "@estilos/var.scss" as *;

// Mixin mobile-first para breakpoints
// Uso: @include bp(xs) { ... }
@mixin bp($bp) {
  @media (min-width: map.get($breakpoints, $bp)) {
    @content;
  }
}

// Mixin para max-width (hasta cierto breakpoint)
// Uso: @include bp-max(xs) { ... }
@mixin bp-max($bp) {
  @media (max-width: map.get($breakpoints, $bp)) {
    @content;
  }
}