@use './_variables.scss' as var;
@use './_mixins.scss' as mix;

.contenedor-pag {
  //@include mix.bordes;
  @include mix.margen0;
  display: flex; // Cambiado de grid a flex
  position: fixed;
  top: var.$alturaEncabezado;
  z-index: 1;
  width: 100%;
}

.contenido-pag, .contenido {
  //@include mix.bordes;
  @include mix.margen0;
  height: calc(100vh - var.$alturaEncabezado);
  width: 100%;
  position: relative;
  z-index: 1;
  color: var.$blanco;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

