@use './variables.scss' as var;

a {
  color: var.$blanco;
  text-decoration: none;
  font-size: var.$fuenteNavegador;
  font-weight: var.$fuenteNavegadorPeso;
  text-shadow: 2px 1px 5px var.$blanco;

  &:hover {
    color: var.$gris;
    text-shadow: var.$sombra;
    cursor: url('../assets/imagenes/cursor/KobaPua_32x32_Gris.png') 16 0, auto;
    transition: cursor 0.3s ease;
  }

  &:active {
    color: var.$negro;

    &:hover {
      cursor: url('../assets/imagenes/cursor/KobaPua_32x32_Marron.png') 16 0, auto;
      transition: cursor 0.3s ease;
    }
  }

  &.navlink {
    &.active {
      color: var.$marron;
      cursor: url('../assets/imagenes/cursor/KobaPua_32x32_Marron.png') 16 0, auto;
      transition: cursor 0.3s ease;
    }
  }
}