@use './variables.scss' as var;
@use './_mixins.scss' as mix;

.navlink {
  @include mix.bordes;

}

a {
  color: var.$blanco;
  text-decoration: none;
  font-size: var.$fuenteEnlaces;
  font-weight: var.$pesoNavegador;
  text-shadow: var.$sombraBlanca;
  height: 100%;

  &:hover {
    color: var.$gris;
    text-shadow: var.$sombraGris;
    cursor: url('../assets/imagenes/cursor/KobaPua_32x32_Gris.png') 16 0, auto;
    transition: cursor 0.3s ease;
  }

  &:active {
    color: var.$negro;
    text-shadow: var.$sombraBlanca;
    cursor: url('../assets/imagenes/cursor/KobaPua_32x32_Negro.png') 16 0, auto;
    transition: cursor 0.3s ease;
  }

  &.navlink {
    &.active {
      color: var.$marron;
      text-shadow: var.$sombraMarron;
      cursor: url('../assets/imagenes/cursor/KobaPua_32x32_Marron.png') 16 0, auto;
      transition: cursor 0.3s ease;

      &:active {
        color: var.$negro;
        cursor: url('../assets/imagenes/cursor/KobaPua_32x32_Negro.png') 16 0, auto;
        transition: cursor 0.3s ease;
      }
    }
  }
}