@use './_variables.scss' as var;
@use './_mixins.scss' as mix;

.about-fondo,
.inicio-fondo,
.faq-fondo,
.merchan-fondo,
.contacto-fondo,
.bandas-fondo {
  @include mix.margen0;
  @include mix.tamañoCompleto;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var.$negro;

  img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: top center;
    @include mix.sombra;
  }
}