@use '@estilos/var.scss' as var;
@use '@estilos/_bp.scss' as bp;
@use '@estilos/mix.scss' as mix;

.fallback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Asegúrate de que el contenedor ocupe toda la pantalla
  background-color: var.$blanco; // Fondo claro para mejor visibilidad
}

.fallback-image {
  max-width: 100px; // Ajusta el tamaño de la imagen
  max-height: 100px;
}