@use '../../estilos/_variables.scss' as var;
@use '../../estilos/_mixins.scss' as mix;

.encabezado-contenedor {
  @include mix.contenedorCompleto;
  height: var.$alturaEncabezado;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0; // Punto donde se activará el efecto sticky
  z-index: 10; // Colocar el encabezado delante del fondo
}

.logo-encabezado {
  //   @include mix.margen0;
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  flex-shrink: 0; // Evita que el contenedor se reduzca
}

.logo-encabezado img {
  @include mix.contenedorCompleto;
  width: 100%;
  height: auto; // Mantiene la proporción de la imagen
}

.encabezado-derecha {
  @include mix.contenedorCompleto;
  display: flex;
  flex-direction: column;
  height: 100%; // Asegura que ocupe toda la altura del contenedor
}

.encabezado-derecha>* {
  flex: 1; // Asegura que los elementos hijos tengan la misma altura
  overflow: hidden; // Evita que se salgan del contenedor
}