@use "@estilos/core.scss" as *;

.about-datos-lista {
  .about-titulo,
  .about-subtitulo,
  .about-seccion,
  .about-texto {
    padding: 2px;
    text-align: justify;

    @include margen-laterales-bp($margen-laterales);
  }

  .about-titulo {
    @include about-titulo;
    white-space: nowrap;
    text-align: center;
  }

  .about-subtitulo {
    @include about-subtitulo;
    margin-bottom: $margen-about-subtitulo;
    line-height: 1;
    white-space: normal;

    &-linea-izq {
      text-align: left !important;
    }

    &-linea-der {
      text-align: right !important;
    }
  }

  .about-seccion {
    @include about-seccion;
    margin-top: $margen-about-seccion;
    margin-bottom: $margen-about-seccion;

    &-linea-izq {
      text-align: left !important;
    }

    &-linea-der {
      text-align: right !important;
    }
  }

  .about-texto {
    @include about-texto;
    margin-bottom: $margen-about-texto;
  }
}