@use '@estilos/variables/_variables.scss' as var;
@use '@estilos/mixins/_mixins.scss' as mix;

.about-titulo,
.about-subtitulo,
.about-seccion,
.about-texto,
.about-video {
  margin: var.$margenParrafo;
  text-align: justify;
  padding: 2px;
}

.about-titulo {
  font-size: var.$fuenteAboutTitulo;
  font-weight: var.$pesoAboutTitulo;
  color: var.$negro;
  text-shadow: 3px 3px 5px var.$blanco, -3px -3px 5px var.$blanco ;
  text-align: center;
  white-space: nowrap;
}

.about-subtitulo {
  font-size: var.$fuenteAboutSubtitulo;
  font-weight: var.$pesoAboutSubtitulo;
  color: var.$marron;
  white-space: nowrap;
}

.about-seccion {
  font-size: var.$fuenteAboutSeccion;
  font-weight: var.$pesoAboutSeccion;
  color: var.$marron;
}

.about-texto {
  font-size: var.$fuenteAboutTexto;
}