@use "@estilos/core.scss" as *;

.about-titulo,
.about-subtitulo,
.about-seccion,
.about-texto,
.about-video {
  padding: 2px;
  text-align: justify;

  @include margen-laterales-bp($margen-laterales);
}

.about-titulo {
  font-size: $fuente-about-titulo;
  font-weight: $peso-about-titulo;
  text-align: center;
  text-shadow:
    3px 3px 5px $blanco,
    -3px -3px 5px $blanco;
  color: $negro;
  white-space: nowrap;
}

.about-subtitulo {
  font-size: $fuente-about-subtitulo;
  font-weight: $peso-about-subtitulo;
  color: $marron;
  white-space: nowrap;
}

.about-seccion {
  font-size: $fuente-about-seccion;
  font-weight: $peso-about-seccion;
  color: $marron;
}

.about-texto {
  font-size: $fuente-about-texto;
  font-weight: $peso-about-texto;
}
