@use '../../estilos/_mixins.scss' as mix;

.entradas-contenedor {
  @include mix.contenedorCompleto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}