@use "@estilos/core.scss" as *;

.grupo-contenido {
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  @include margen-laterales-bp($margen-laterales);

  // Encabezado principal
  &__encabezado {
    display: flex;
    flex-direction: column;

    &-superior {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      @include altura-encabezado-bp($altura-encabezado, height);

      &-logo {
        display: flex;
        flex: 0 0 33%;
        justify-content: center;
        align-items: center;
        max-width: 33vw;
        @include altura-encabezado-bp($altura-encabezado, max-height);
      }

      &-estilo {
        display: flex;
        flex: 0 0 33%;
        justify-content: center;
        align-items: center;
        font-size: $font-size-grupos-estilo-anio;
        text-align: center;
      }

      &-origen {
        flex: 0 0 33%;
        justify-content: center;
        align-items: center;
        font-size: $font-size-grupos-estilo-anio;
        text-align: center;
      }
    }

    &-inferior {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }
  }

  // Logo
  &__logo {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    @include altura-encabezado-bp($altura-encabezado, max-height);
  }

  // Resumen
  &__resumen {
    font-size: $font-size-grupos-resumen;
    text-align: justify;
  }

  // Pie
  &__pie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;

    iframe {
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 12px;
      // Elimina margen lateral aquí para evitar doble margen
    }
  }

  // Integrantes y álbumes
  &__integrantes-albums {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1.5rem;

    .grupo-contenido__integrantes {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
    }

    .grupo-contenido__titulo-integrantes {
      display: block;
      margin-bottom: 0.5em;
    }

    .grupo-contenido__albums {
      display: flex;
      flex: 2;
      flex-direction: column;
      align-items: center;
    }

    .grupo-contenido__titulo-albums {
      display: block;
      margin-bottom: 0.5em;
    }

    .grupo-contenido__albums-lista {
      columns: 2;
    }
  }
}