@use "@estilos/core.scss" as *;

.grupo-contenido {

  @include pad-gap;
  display: flex;
  flex-direction: column;
  @include margen-laterales-bp($margen-laterales);

  .grupo-encabezado {
    @include tamanio-completo;
    display: flex;
    flex-direction: column;

    .grupo-encabezado-superior {
      @include pad-gap;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include altura-encabezado-bp($altura-encabezado, height);

      .grupo-encabezado-superior-izquierda {
        @include pad-gap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include altura-encabezado-bp($altura-encabezado, max-height);

        img {
          @include tamanio-completo;
          object-fit: contain;
          @include altura-encabezado-bp($altura-encabezado, max-height);
        }
      }

      .grupo-encabezado-superior-derecha {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: $fuente-grupos-genero;
        line-height: 1.1;
        text-align: center;
        @include altura-encabezado-bp($altura-encabezado, max-height);
      }
    }

    .grupo-encabezado-inferior {
      // include bordes;
      @include pad-gap;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      gap: 0.5em;

      .grupo-resumen {
        width: 100%;
        font-size: $fuente-grupos-resumen;
        text-align: justify;
      }

      .grupo-encabezado-integrantes {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
      }

      .grupo-albums {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }

  .grupo-pie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    @include pad-gap;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}