@use '@estilos/variables/_variables' as var;
@use '@estilos/mixins/_mixins.scss' as mix;

.contenedor-pag {
  @include mix.bordes;

  display: flex;
  position: fixed;
  top: var.$alturaEncabezado;
  z-index: 1;
  width: 100%;
}

.contenido-pag,
.contenido {
  @include mix.bordes;
  @include mix.bordes;

  height: calc(100vh - var.$alturaEncabezado);
  width: 100%;
  position: relative;
  z-index: 1;
  color: var.$blanco;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}