@use '@estilos/core.scss' as *;

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  @include bordes;
@include pad-gap;}

.bandas-click {
  font-size: $fuente-bandas-click;
  color: $gris;
}

.bandas-lista {
  @include bordes;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: $fuente-bandas-nombre;
  line-height: 1.5;
}