@use "@estilos/core.scss" as *;

.bandas-lista {
  @include pad-gap;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .banda {
    flex: 0 0 200px;

    &:hover {
      color: $blanco;
    }

    .banda-nombre {
      @include tamanio-completo;

      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      white-space: nowrap;
    }
  }
}
