@use "@estilos/core.scss" as *;

.contenido {
  @include pad-gap;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;


  .bandas-click {
    color: $gris;
    font-size: $fuente-bandas-click;
  }
}