@use '@estilos/_core.scss' as *; // Para movil 480px

.contenido {
  @include bordes;
  @include pad-gap;
  flex-direction: column;
  font-size: $fuenteContactoIconos;
  align-items: stretch;
}

.contacto {
  @include bordes;
  @include pad-gap;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  min-height: 0;
  height: 100%; // Ahora ocupa el alto completo disponible

}

.redes-sociales {
  @include bordes;
  @include tamaño-completo;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; // Espaciado entre iconos
  align-items: center;
  width: 100%;
  gap: 0.5em;
  padding: 0.5em 0;
  min-height: unset;
  height: auto;
}

.icono-social {
  font-size: $fuenteContactoIconos;
  width: 1.4em;
  height: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  filter: $drop_shadow_blanco;
}

.icono-social:hover {
  color: $marron !important;
  filter: drop-shadow(0 0 18px var(--icono-color-original, $facebook));
}

.icono-social:active {
  color: transparent !important;
  filter: drop-shadow(0 0 18px transparent);
}

.icono-facebook {
  color: $facebook !important;
  --icono-color-original: #{$facebook};
}

.icono-instagram {
  color: $instagram !important;
  --icono-color-original: #{$instagram};
}

.icono-spotify {
  color: $spotify !important;
  --icono-color-original: #{$spotify};
}

.icono-tiktok {
  color: $tiktok !important;
  --icono-color-original: #{$tiktok};
}

.icono-twitter {
  color: $twitter !important;
  --icono-color-original: #{$twitter};
}

.icono-youtube {
  color: $youtube !important;
  --icono-color-original: #{$youtube};
}

.icono-whatsapp {
  color: $whatsapp !important;
  --icono-color-original: #{$whatsapp};
}