@use "@estilos/core.scss" as *; // Para movil 480px

.contenido {
  @include bordes;

  flex-direction: column;
  align-items: stretch;
  font-size: $fuente-contacto-iconos;

  @include pad-gap;
}

.contacto {
  @include bordes;
  @include pad-gap;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%; // Ahora ocupa el alto completo disponible
  min-height: 0;
  gap: 1rem;
}

.redes-sociales {
  @include bordes;
  @include tamanio-completo;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly; // Espaciado entre iconos
  align-items: center;
  width: 100%;
  height: auto;
  min-height: unset;
  padding: 0.5em 0;
  gap: 0.5em;
}

.icono-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.4em;
  height: 1.4em;
  font-size: $fuente-contacto-iconos;
  filter: $drop-shadow-blanco;
  vertical-align: middle;
}

.icono-social:hover {
  color: $marron;
  filter: drop-shadow(0 0 18px var(--icono-color-original, $facebook));
}

.icono-social:active {
  color: transparent;
  filter: drop-shadow(0 0 18px transparent);
}

.icono-facebook {
  color: $facebook;

  --icono-color-original: #{$facebook};
}

.icono-instagram {
  color: $instagram;

  --icono-color-original: #{$instagram};
}

.icono-spotify {
  color: $spotify;

  --icono-color-original: #{$spotify};
}

.icono-tiktok {
  color: $tiktok;

  --icono-color-original: #{$tiktok};
}

.icono-twitter {
  color: $twitter;

  --icono-color-original: #{$twitter};
}

.icono-youtube {
  color: $youtube;

  --icono-color-original: #{$youtube};
}

.icono-whatsapp {
  color: $whatsapp;

  --icono-color-original: #{$whatsapp};
}
