@use "@estilos/core.scss" as *;

.formulario-email {
  @include bordes;
  @include pad-gap;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  @include margen-laterales-bp($margen-laterales);
}

.formulario-email label {
  @include bordes;
  @include pad-gap;
  font-weight: bold;
  color: $blanco;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  width: 100%;

}

.formulario-email input,
.formulario-email textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 0.3rem;
}

.formulario-email textarea {
  min-height: 80px;
  resize: vertical;
}

.formulario-email button {
  background: #222;
  color: #fff;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
  align-self: flex-start;
}

.formulario-email button:disabled {
  background: #888;
  cursor: not-allowed;
}

.formulario-email .exito {
  color: #2e7d32;
  font-weight: bold;
}

.formulario-email .error {
  color: #c62828;
  font-weight: bold;
}

.formulario-email .exito,
.formulario-email .error {
  margin-top: 1.5rem;
  margin-bottom: 0;
  width: 100%;
  box-sizing: border-box;
  @include margen-laterales-bp($margen-laterales);

  @include bp(tablet) {
    margin-top: 2.5rem;
  }
}