@use "@estilos/core.scss" as *;

.redes-sociales {
  @include pad-gap;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  .icono-social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    border: none;
    background: none;
    color: var(--icono-color-original, $blanco);
    font-size: $font-size-contacto-iconos;
    cursor: pointer;
    transition:
      color 0.2s,
      filter 0.2s,
      transform 0.15s;
    filter: drop-shadow(0 0 6px $blanco);

    &:hover {
      transform: scale(1.15) rotate(-6deg);
      filter: drop-shadow(0 0 18px currentcolor);
    }

    &:active {
      color: transparent;
      transform: scale(0.95) rotate(0deg);
      filter: drop-shadow(0 0 18px transparent);
    }
  }

  // Generación automática de clases para cada red social
  @each $nombre, $color in $iconos-redes {
    .icono-#{$nombre} {
      --icono-color-original: #{$color};

      color: #{$color};
    }
  }
}
