@use "@estilos/core.scss" as *;

$negro-trans-20: rgba($negro, 0.2);

.tarjeta-contacto {
  display: flex;
  align-items: center;
  background: $blanco;
  color: $negro;
  border-radius: 10px;
  box-shadow: 0 2px 10px $negro-trans-20;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  gap: 1rem;
  border: 2px solid transparent;

  &.tarjeta-default {
    background: $blanco;
    color: $negro;
    border-color: $amarillo;
  }

  &.tarjeta-whatsapp {
    background: $marron;
    color: $blanco;
    border-color: $amarillo;
  }

  &.tarjeta-error {
    background: $granate;
    color: $blanco;
    border-color: $amarillo;
  }
}

.icono-contacto {
  font-size: 2rem;
  color: $gris;
}

.info-contacto {
  display: flex;
  flex-direction: column;
}

.titulo-contacto {
  font-weight: 700;
  font-size: 1.1em;
  color: $gris;
}

.texto-contacto {
  color: $negro;
  font-size: 1em;
}

.tarjeta-contacto.tarjeta-whatsapp .icono-contacto {
  color: $blanco;
}

.tarjeta-contacto.tarjeta-whatsapp .texto-contacto {
  color: $blanco;
}

.tarjeta-contacto.tarjeta-error .titulo-contacto {
  color: $blanco;
}

.tarjeta-contacto.tarjeta-error .texto-contacto {
  color: $blanco;
}