@use '../../estilos/_variables.scss' as var;
@use '../../estilos/_mixins.scss' as mix;

.fecha-contenedor {
  @include mix.contenedorCompleto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var.$blanco;
  text-shadow: var.$blanco 0px 0px 15px;
  font-size: 4vh;
  height: 100%;
  text-align: center;
  white-space: normal;
  line-height: 1;
  display: flex;
  justify-content: space-evenly;

  .año {
    @include mix.contenedorCompleto;
    font-size: 6vh;
  }

  .fecha,
  .lugar {
    @include mix.contenedorCompleto;
    overflow-wrap: break-word;
    font-size: 4vh;
  }
}