@use '../../estilos/_variables.scss' as var;
@use '../../estilos/_mixins.scss' as mix;

@keyframes parpadeo {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.fecha-contenedor {
  height: 75px;
  @include mix.bordes;
  @include mix.margen0;
  @include mix.padgap;
  color: var.$blanco;
  text-shadow: var.$blanco 0px 0px 10px, var.$blanco 0px 0px 20px; // Ajusta el desenfoque
  text-align: center;
  white-space: normal;
  line-height: 1;
  display: flex;
  justify-content: space-evenly;

  .fecha {
    @include mix.bordes;
    @include mix.margen0;
    padding: 5px 15px;
    animation: parpadeo 3s infinite;
  }
}