@use "@estilos/core.scss" as *;

@keyframes parpadeo {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.fecha-contenedor {
  @include bordes;
  @include pad-gap;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  white-space: normal;
  text-align: center;
  text-shadow:
    $cobre-viejo 0 0 10px,
    $cobre-viejo 0 0 20px;

  .fecha {
    @include bordes;
    @include fecha-fuente;
    width:100%;

    display: flex;
    align-items: center;
    animation: parpadeo 3s infinite;
  }
}

@include fecha-svg-separador-sizes;
