@use "@estilos/core.scss" as *;

.faq-pregunta {
  @include pad-gap;
  @include faq-pregunta-fuente;

  display: flex;
  justify-content: space-between;
  text-align: justify;

  @include margen-laterales-bp($margen-laterales);
}

.faq-pregunta-texto {
  white-space: normal;
  text-align: left;
  word-wrap: break-word;
  flex-grow: 1;
}

.faq-icon {
  @include faq-icon-fuente;

  display: flex;
  align-items: center;
  margin-left: 2px;
  transition:
    color 0.2s,
    font-size 0.2s,
    transform 0.2s;

  &:hover {
    @include faq-icon-hover-fuente;

    cursor:
      url("@imagenes/cursor/cursor-pua-gris.webp") 16 0,
      pointer;
    transform: scale(1.13) rotate(-7deg);
  }
}

.faq-respuesta {
  @include pad-gap;
  @include faq-respuesta-fuente;

  white-space: normal;
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;

  @include margen-laterales-bp($margen-laterales);
}

.faq-pregunta--activa,
.faq-pregunta.faq-pregunta--activa .faq-pregunta-texto {
  color: $marron;
  transition: color 0.3s, text-shadow 0.3s;
}

.faq-pregunta--activa .faq-icon {
  color: $marron;
}