@use "@estilos/core.scss" as *;

.faq-pregunta {
  // include bordes;
  @include pad-gap;

  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  color: $gris;
  font-size: $fuente-faq-preguntas;
  text-align: justify;

  @include margen-laterales-bp($margen-laterales);
}

.faq-pregunta-texto {
  // include bordes;

  box-sizing: border-box;
  white-space: normal;
  text-align: left;
  word-wrap: break-word;
  flex-grow: 1;
}

.faq-icon {
  // include bordes;

  margin-left: 2px;
  cursor: pointer;
}

.faq-respuesta {
  // include bordes;
  @include pad-gap;

  box-sizing: border-box;
  color: $blanco;
  font-size: $fuente-faq-respuestas;
  white-space: normal;
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;

  @include margen-laterales-bp($margen-laterales);
}
