@use '@estilos/_base.scss' as *;

.faq-pregunta {
  @include bordes;
  @include padgap;
  box-sizing: border-box;
  margin: $margenParrafo;
  color: $gris;
  font-size: $fuenteFaqPreguntas;
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.faq-pregunta-texto {
  @include bordes;
  box-sizing: border-box;
  flex-grow: 1;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
}

.faq-icon {
  margin-left: 10px;
  cursor: pointer;
}

.faq-respuesta {
  @include bordes;
  @include padgap;
  box-sizing: border-box;
  margin: $margenParrafo;
  color: $blanco;
  font-size: $fuenteFaqRespuestas;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: justify;
}