@use '@estilos/_variables.scss' as var;
@use '@estilos/_mixins.scss' as mix;
@use '@estilos/_font-size.scss' as fs;


.faq-pregunta {
  @include mix.bordes;
  @include mix.padgap;
  box-sizing: border-box;
  margin: var.$margenParrafo;
  color: var.$gris;
  font-size: fs.$fuenteFaqPreguntas;
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.faq-pregunta-texto {
  @include mix.bordes;
  box-sizing: border-box;
  flex-grow: 1;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
}

.faq-icon {
  margin-left: 10px;
  cursor: pointer;
}

.faq-respuesta {
  @include mix.bordes;
  @include mix.padgap;
  box-sizing: border-box;
  margin: var.$margenParrafo;
  color: var.$blanco;
  font-size: fs.$fuenteFaqRespuestas;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: justify;
}