@use '../../estilos/_variables.scss' as var;
@use '../../estilos/_mixins.scss' as mix;

*,
*::before,
*::after {
  box-sizing: border-box; // Asegura que el modelo de caja incluya padding y borde
}

.about-contenedor {
  //@include mix.bordes;
  @include mix.margen0;
  height: calc(100vh - var.$alturaEncabezado);
  width: 100vw;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  
}

.about-h1,
.about-h2,
.about-h3,
.about-texto,
.about-video {
  margin: var.$margenParrafo;
  text-align: justify;
  padding: 2px;
}

.about-h1 {
  @include mix.fuenteH1;
  color: var.$gris;
  text-align: center;

}

.about-h2 {
  @include mix.fuenteH2;
  color: var.$marron;

}

.about-h3 {
  @include mix.fuenteH3;
  color: var.$marron;

}

.about-texto {
  font-size: var.$fuenteBase * 1.5;

}