@use '../../estilos/_variables.scss' as var;
@use '../../estilos/_mixins.scss' as mix;

.fecha-container {
  @include mix.contenedorCompleto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var.$blanco;
  text-shadow: var.$blanco 0px 0px 15px;
  font-size: 4vh; 
  height: 100%; 
  text-align: center;
  word-wrap: break-word; 
  white-space: normal;
  line-height: 1.5;

  .año{
    @include mix.contenedorCompleto;
    font-size: 6vh;
  }

  .fecha {
    @include mix.contenedorCompleto;
    font-size: 4vh;
  }

  .lugar {
    @include mix.contenedorCompleto;
    font-size: 4vh;
  }
}