@use './estilos/_variables' as var;

body {
  min-width: 1024px; // Ancho mínimo
  min-height: 768px; // Alto mínimo
  box-sizing: border-box;
  margin: 0;
  color: var.$blanco;
  //background-color: var.$negro;
  overflow: hidden; // Eliminar scroll
}