@use './estilos/_variables.scss' as var;

:root {
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var.$blanco;
  background-color: var.$negro;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url('../src/assets/imagenes/cursor/KobaPua_32x32.png') 16 0, auto;
}

body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: var.$negro;
    background-color: var.$blanco;
  }

  a:hover {
    color: var.$negro;
  }

  button {
    background-color: var.$blanco;
  }
}