@use "@estilos/core.scss" as *;

:root {
  cursor:
    url("@imagenes/cursor/cursor-pua-blanco.webp") 16 0,
    auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizelegibility;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  @include base-fuente;

  display: flex;
  box-sizing: border-box;
  min-width: 0;
  min-height: 100vh;
  margin: 0;
  background-color: $negro;
  color: $blanco;
  overflow-x: hidden;
}

*:focus-visible {
  @include focus-tabulador;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-width: 0;
}