@use '../../estilos/_variables.scss' as var;
@use '../../estilos/_mixins.scss' as mix;

.faq-contenedor {
  //@include mix.bordes;
    @include mix.margen0;
    display: grid;
    position: fixed;
    z-index: 1;
  }

