@use "@estilos/core.scss" as *;

.contenido-2025 {
  @include bordes;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: auto;

  @include altura-contenido-bp($altura-encabezado);
}

.banda-imagen {
  @include bordes;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  object-fit: contain;

  @include tamanio-banda-imagen;

  img {
    @include bordes;
    @include tamanio-completo;

    display: block;
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
  }
}
