.grupo-integrantes {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.integrante-rol {
  margin-right: 0.3em;
  color: $gris;
  font-weight: bold;
}

.integrante-nombre {
  color: $marron;
  font-style: italic;
}
