@use '@estilos/var.scss' as var;
@use '@estilos/_bp.scss' as bp;
@use '@estilos/mix.scss' as mix;

.integrante-nombre {
  color: var.$marron;
  font-weight: var.$pesoGrupoIntegrante;
}

.integrante-rol {
  color: var.$gris;
}