@use '@estilos/var.scss' as var;
@use '@estilos/_bp.scss' as bp;
@use '@estilos/mix.scss' as mix;

.album-nombre {
  color: var.$marron;
  font-weight: var.$pesoGrupoAlbum;
}

.album-año {
  color: var.$gris;
}